<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darth Phoenix's Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <nav class="nav nav-pills justify-content-end p-2" style="background-color: rgb(87, 87, 83)">
        <a class="nav-link active" aria-current="page" href="/new" role="button" style="background-color: #0d6efd;">Sign up</a>
    </nav>
    <main class="form-signin text-center">
        <div><br>
            <form action="/" method="post">
                <h1 class="h2 mb-4 fw-normal"><b>Login</b></h1>
                <div class="form-floating">
                    <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" id="submit">Sign in</button><br>
            </form>
        </div><br>
        <div>
            <form action="/new">
                <label>New Here?</label>
                <input value="Register" type="submit">
            </form>
        </div>
    </main> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
