<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darth Phoenix's Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <nav class="nav nav-pills justify-content-end p-2" style="background-color: rgb(87, 87, 83)">
        <a class="nav-link active" aria-current="page" href="/" role="button" style="background-color: #0d6efd;">Sign in</a>
    </nav>
    <div class="form-signin"><br>
        <form class="row g-1" method="post">
            <h1 class="h2 mb-3 fw-normal"><center><b>Register</b></center></h1>
            <div class="col-12">
                <label for="name" class="form-label">Username</label>
                <input name="one" type="text" class="form-control" id="name">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input name="two" type="email" class="form-control" id="email">
            </div>
            <div class="col-12">
                <label for="password1" class="form-label">Password</label>
                <input name="three" type="password" class="form-control" id="password1">
            </div>
            <div class="col-12">
                <label for="password2" class="form-label">Confirm Password</label>
                <input name="four" type="password" class="form-control" id="password2">
            </div>
            <div class="col-12"><br>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </form>
        <form action="/">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
